<!doctype html>
<html lang="en">

<head>
  
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/filter/reset.css">
  <link rel="stylesheet" href="../static/css/filter/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
    crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" href="../static/images/logo/logo.png" type="image/icon type">
  <title>Homey - Đặt phòng Homestay</title>
</head>

<body>
  <div class="header fixed-top">
    <div class="header__menu">
      <div class="header__logo">
        <a href="./main.html">
          <img src="../static/images/logo/logo.png"
            alt="" class="header__logo-image">
        </a>
      </div>
      <form class="header__form" id="search-submit">
        <ul class="header__search">
          <div id="search-box" class="header__search-item">
            <div class="header__search-box">
              <i class="fas fa-search header__icon"></i>
              <label for="search" class="header__search-label">
              </label>
              <input type="text" id="search" class="header__search-input" placeholder="Tìm kiếm" autocomplete="off">
            </div>
            <ul class="list-group-search" id="result"></ul>
          </div>
          <div class="header__search-item btn">
            <i class="far fa-calendar header__icon mr-2"></i>
            <input type="text" name="daterange" value="Ngày"
              style="font-size: 13px; width: 10rem; text-align:center; border: none; font-weight: bold; cursor: pointer">
          </div>
          <div id="topup-guess" class="header__search-item" id="room-type" data-toggle="dropdown" type="button"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i>
            <p class="header__text" id="showGuess">Số khách</p>
          </div>
          <div class="dropdown-menu menu-nbGuess py-4 px-2" aria-labelledby="nbGuess">
            <!-- <form id="nbGuess"> -->
              <ul>
                <h2 style="font-weight: bold" class="ml-3">Số khách</h2>
                <li class="d-flex justify-content-between my-2">
                  <label class="checkbox" for="count-adult">Người lớn</label>
                  <input type="number" name="" min="0" id="count-adult" class="form-control col-2">
                </li>
                <li class="d-flex justify-content-between my-2">
                  <label class="checkbox" for="count-children">Trẻ em <small>(tuổi từ 2-12)</small></label>
                  <input type="number" name="" min="0" id="count-children" class="form-control col-2">
                </li>
              </ul>
            <!-- </form> -->
            <div class="dropdown-divider"></div>
            <div class="d-flex align-center justify-content-between">
              <button class="btn btn-dark btn-lg ml-4 my-3" type="button" id="delete-nbGuess">Xóa</button>
              <button class="btn btn-info btn-lg mr-4 my-3" type="button" id="apply-nbGuess">Áp dụng</button>
            </div>
          </div>
          <button type="submit" class="header__search-icon">
            <i class="fas fa-search header__icon white__icon"></i>
          </button>
        </ul>
      </form>
    </div>
    <div class="header__btn--group">
      <span class="icon-button">
        <a href="#" class="header__btn header__btn--host" id="host">Host</a>
        <span class="icon-button__badge" id="countNotify" style="display: none;"></span>
      </span>
      <div id="new-user">
        <a href="#" class="header__btn header__btn--signup" style="display:none;">Đăng kí</a>
        <a href="./login.html" class="header__btn header__btn--login">Đăng nhập</a>
      </div>
      <div id="username" style="display:none;">
        <a href="#" class="header__btn" id="name"></a>
        <a href="#" onclick="logout()" class="header__btn">Đăng xuất</a>
      </div>
    </div>
  </div>

  <div class="body" style="margin-top: 80px">
    <div class="button-group mt-3 d-flex">
      <!-- <div>
        <button class="btn btn-outline-dark btn-lg mr-3">Hủy phòng linh hoạt</button>
      </div>
      <div>
        <button class="btn btn-outline-dark btn-lg mr-3">Đặt phòng nhanh</button>
      </div>
      <div>
        <button class="btn btn-outline-dark btn-lg mr-3">Giá ưu đãi</button>
      </div> -->
      <div class="dropdown open">
        <button class="btn btn-outline-dark btn-lg mr-3" id="region" data-toggle="dropdown" type="button"
          aria-haspopup="true" aria-expanded="false">Khu vực</button>
        <div class="dropdown-menu menu-region" aria-labelledby="region">
          <ul id="region-list">
          </ul>
          <div class="dropdown-divider"></div>
          <div class="dropdown-btn d-flex align-center justify-content-between">
            <button class="btn btn-dark btn-lg ml-4 my-3" type="button" id="delete-region">Xóa</button>
            <button class="btn btn-info btn-lg mr-4 my-3" type="button" id="apply-region">Áp dụng</button>
          </div>
        </div>
      </div>
      <div class="dropdown open">
        <button class="btn btn-outline-dark btn-lg mr-3" id="room-type" data-toggle="dropdown" type="button"
          aria-haspopup="true" aria-expanded="false">Loại phòng</button>
        <div class="dropdown-menu menu-roomType" aria-labelledby="roomType">
          <ul id="roomType-list">
            <li>
              <input type="checkbox" style="margin-left: 2rem" name="roomType" class="checkbox-input checkbox-roomType"
                value="1">
              <label class="checkbox">Khách sạn</label>
            </li>
            <li>
              <input type="checkbox" style="margin-left: 2rem" name="roomType" class="checkbox-input checkbox-roomType"
                value="2">
              <label class="checkbox">Căn hộ</label>
            </li>
            <li>
              <input type="checkbox" style="margin-left: 2rem" name="roomType" class="checkbox-input checkbox-roomType"
                value="3">
              <label class="checkbox">Homestay</label>
            </li>
          </ul>
          <div class="dropdown-divider"></div>
          <div class="dropdown-btn d-flex align-center justify-content-between">
            <button class="btn btn-dark btn-lg ml-4 my-3" type="button" id="delete-roomType">Xóa</button>
            <button class="btn btn-info btn-lg mr-4 my-3" type="button" id="apply-roomType">Áp dụng</button>
          </div>
        </div>
      </div>
      <div class="dropdown open">
        <button class="btn btn-outline-dark btn-lg mr-3" id="price" data-toggle="dropdown" type="button"
          aria-haspopup="true" aria-expanded="false">Giá chỗ ở</button>
        <div class="dropdown-menu menu-price" aria-labelledby="price">
          <h2 style="font-weight:bold">Giá phòng 1 đêm</h2> <br>
          <div class="row">
            <div class="col">
              <div class="form-group price-form">
                <label for="min-price">Thấp nhất</label>
                <input type="number" min="0" class="form-control mt-3" id="min-price">
              </div>
            </div>
            <div class="col">
              <div class="form-group price-form">
                <label for="max-price">Cao nhất</label>
                <input type="number" min="0" class="form-control mt-3" id="max-price">
              </div>
            </div>
          </div>
          <div class="dropdown-divider"></div>
          <div class="d-flex align-center justify-content-between">
            <button class="btn btn-dark btn-lg ml-4 my-3" type="button" id="delete-price">Xóa</button>
            <button class="btn btn-info btn-lg mr-4 my-3" type="button" id="apply-price">Áp dụng</button>
          </div>
        </div>
      </div>
      <div class="dropdown open">
        <button class="btn btn-outline-dark btn-lg mr-3" id="more-filter" data-toggle="dropdown" type="button"
          aria-haspopup="true" aria-expanded="false">Thêm bộ lọc</button>
        <div class="dropdown-menu menu-moreFilter py-4 px-2" aria-labelledby="moreFilter">
          <form id="more-filter">
            <ul class="list-group">
              <h2 style="font-weight: bold" class="ml-3">Phòng và giường ngủ</h2>
              <li class="d-flex justify-content-between my-2">
                <label class="checkbox" for="count-bed">Giường</label>
                <input type="number" min="0" id="count-bed" class="form-control col-2">
              </li>
              <li class="d-flex justify-content-between my-2">
                <label class="checkbox" for="count-bedroom">Số phòng ngủ</label>
                <input type="number" min="0" id="count-bedroom" class="form-control col-2">
              </li>
              <li class="d-flex justify-content-between my-2">
                <label class="checkbox" for="count-bathroom">Số phòng tắm</label>
                <input type="number" min="0" id="count-bathroom" class="form-control col-2">
              </li>
            </ul>
          </form>
          <div class="dropdown-divider"></div>
          <div class="box">
            <div class="box-title">
              <h2 style="font-weight: bold" class="ml-3">Tiện ích</h2>
            </div>
            <div class="row">
              <div class="col">
                <input type="checkbox" style="margin-left: 2rem" name="facility"
                  class="checkbox-input checkbox-facility" value="1">
                <label class="checkbox">Điều hòa</label>
              </div>
              <div class="col">
                <input type="checkbox" style="margin-left: 2rem" name="facility"
                  class="checkbox-input checkbox-facility" value="2">
                <label class="checkbox">Máy giặt</label>
              </div>
              <div class="col">
                <input type="checkbox" style="margin-left: 2rem" name="facility"
                  class="checkbox-input checkbox-facility" value="3">
                <label class="checkbox">Bình nóng lạnh</label>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input type="checkbox" style="margin-left: 2rem" name="facility"
                  class="checkbox-input checkbox-facility" value="4">
                <label class="checkbox">Tivi</label>
              </div>
              <div class="col">
                <input type="checkbox" style="margin-left: 2rem" name="facility"
                  class="checkbox-input checkbox-facility" value="5">
                <label class="checkbox">Bếp </label>
              </div>
              <div class="col">
                <input type="checkbox" style="margin-left: 2rem" name="facility"
                  class="checkbox-input checkbox-facility" value="6">
                <label class="checkbox">Tủ lạnh</label>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <li>
                  <input type="checkbox" style="margin-left: 2rem" name="facility"
                    class="checkbox-input checkbox-facility" value="7">
                  <label class="checkbox">Sân vườn</label>
              </div>
              <div class="col">
                <input type="checkbox" style="margin-left: 2rem" name="facility"
                  class="checkbox-input checkbox-facility" value="8">
                <label class="checkbox">Bể bơi</label>
              </div>
              <div class="col">
                <input type="checkbox" style="margin-left: 2rem" name="facility"
                  class="checkbox-input checkbox-facility" value="9">
                <label class="checkbox">Karaoke</label>
              </div>
            </div>
          </div>
          <div class="dropdown-divider"></div>
          <div class="dropdown-btn d-flex align-center justify-content-between">
            <button class="btn btn-dark btn-lg ml-4 my-3" type="button" id="delete-more">Xóa</button>
            <button class="btn btn-info btn-lg mr-4 my-3" type="button" id="apply-more">Áp dụng</button>
          </div>
        </div>
      </div>
    </div>
    <h1 class="title"><span id="countRoom"></span> Homestay tại <span id="location"></span>
      <span style="float: right;">
      <button class="btn btn-outline-dark btn-lg dropdown-toggle" href="#" role="button" id="sortDropdown" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <span>
          Sắp xếp:
        </span>
        <span style="padding-left: 0.2rem;" id="sortType">&ensp;</span>
      </button>

      <div class="dropdown-menu" id="dropdown-menu" aria-labelledby="sortDropdown">
        <a onclick="sort(this.id)" class="dropdown-item" id="ASC" href="#">Giá tăng dần</a>
        <a onclick="sort(this.id)" class="dropdown-item" id="DESC" href="#">Giá giảm dần</a>
      </div>
  </span></h1>
    
    <div class="room-detail" id="rooms">
      <!--  -->
    </div>
    <div class="pagination">
      <a href="#" onclick="prevPage()" id="prevPage">&laquo;</a>
      <span id="page_number">
      </span>
      <a href="#" onclick="nextPage()" id="nextPage">&raquo;</a>
    </div>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
  <script>
    $('.your-checkbox').prop('indeterminate', true)
  </script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <script src="../static/js/filter/api.js"></script>
  <script src="../static/js/filter/room.js"></script>
  <script src="../static/js/filter/app.js"></script>
</body>

</html>