

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href="style.css">

	<title>Login Form - Pure Coding</title>
</head>
<body>
	<div class="container">
		<form action="" class="login-email">
			<p class="login-text" style="font-size: 2rem; font-weight: 800;">Login</p>
			<div class="input-group">
				<input type="username" placeholder="Username"  id="username" name="username" value="">
			</div>
			<div class="input-group">
				<input type="password" placeholder="Password" id="password" name="password" value="">
			</div>
			<div class="input-group">
				<button class="btn" id="login">Login</button>
			</div>
			<p class="login-register-text">Don't have an account? <a>Register Here</a>.</p>
		</form>
	</div>
</body>
<script>
document.getElementById("login").addEventListener("click", async (e) => {
	e.preventDefault();
	let username = document.getElementById("username").value;
	let password = document.getElementById("password").value;
	
	let jsonData = {
    "username": username,
    "password": password
  	}
	  console.log(JSON.stringify(jsonData));
  let data = await fetch('http://localhost:8080/api/auth/login', {
    method: 'POST',
    headers: {"Content-type": "application/json;charset=UTF-8"},
    body: JSON.stringify(jsonData),
    credentials: 'include',
  }).then((res) => {
	  if(res.status == 403) {
		  alert("Wrong password");
	  }
	  else {
		history.back();
	  }
  })
  
}
);
</script>
</html>