<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/main/reset.css">
  <link rel="stylesheet" href="../static/css/main/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
    crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" href="../static/images/logo/logo.png" type="image/icon type">
  <title>Homey - Đặt phòng Homestay</title>
</head>

<body>
  <div class="header">
    <div class="header__menu">
      <div class="header__logo">
        <a href="./main.html">
          <img src="../static/images/logo/logo.png"
            alt="" class="header__logo-image">
        </a>
      </div>
      <form class="header__form" id="search-submit">
        <ul class="header__search">
          <div id="search-box" class="header__search-item">
            <div class="header__search-box">
              <i class="fas fa-search header__icon"></i>
              <label for="search" class="header__search-label">
              </label>
              <input type="text" id="search" class="header__search-input" placeholder="Tìm kiếm" autocomplete="off">
            </div>
            <ul class="list-group" id="result"></ul>
          </div>
          <div class="header__search-item btn">
            <i class="far fa-calendar header__icon mr-2"></i>
            <input type="text" name="daterange" value="Ngày"
              style="font-size: 13px; width: 10rem; text-align:center; border: none; font-weight: bold; cursor: pointer">
          </div>
          <div id="topup-guess" class="header__search-item" id="room-type" data-toggle="dropdown" type="button"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i>
            <p class="header__text" id="showGuess">Số khách</p>
          </div>
          <div class="dropdown-menu menu-nbGuess py-4 px-2" aria-labelledby="nbGuess">
            <!-- <form id="nbGuess"> -->
              <ul>
                <h2 style="font-weight: bold" class="ml-3">Số khách</h2>
                <li class="d-flex justify-content-between my-2">
                  <label class="checkbox" for="count-adult">Người lớn</label>
                  <input type="number" name="" min="0" id="count-adult" class="form-control col-2">
                </li>
                <li class="d-flex justify-content-between my-2">
                  <label class="checkbox" for="count-children">Trẻ em <small>(tuổi từ 2-12)</small></label>
                  <input type="number" name="" min="0" id="count-children" class="form-control col-2">
                </li>
              </ul>
            <!-- </form> -->
            <div class="dropdown-divider"></div>
            <div class="d-flex align-center justify-content-between">
              <button class="btn btn-dark btn-lg ml-4 my-3" type="button" id="delete-nbGuess">Xóa</button>
              <button class="btn btn-info btn-lg mr-4 my-3" type="button" id="apply-nbGuess">Áp dụng</button>
            </div>
          </div>
          <button type="submit" class="header__search-icon">
            <i class="fas fa-search header__icon white__icon"></i>
          </button>
        </ul>
      </form>
    </div>
    <div class="header__btn--group">
      <span class="icon-button">
        <a href="#" class="header__btn header__btn--host" id="host">Host</a>
        <span class="icon-button__badge" id="countNotify" style="display: none;"></span>
      </span>
      <div id="new-user">
        <a href="#" class="header__btn header__btn--signup" style="display:none;">Đăng kí</a>
        <a href="./login.html" class="header__btn header__btn--login">Đăng nhập</a>
      </div>
      <div id="username" style="display:none;">
        <a href="#" class="header__btn" id="name"></a>
        <a href="#" onclick="logout()" class="header__btn header__btn--logout">Đăng xuất</a>
      </div>
    </div>
  </div>

  <div class="body">
    <div class="intro">
      <img src="../static/images/logo/banner.jpg" alt=""
        class="intro__banner">
    </div>
    <div class="place">
      <div class="text__caption">Địa điểm nổi bật</div>
      <div class="text__desc">Cùng Homey bắt đầu chuyến hành trình chinh phục thế giới của bạn</div>
      <ul class="place__group">
      </ul>
    </div>
    <div class="promotion">
      <div class="text__caption">Ưu đãi độc quyền</div>
      <div class="text__desc">Chỉ có tại Homey, hấp dẫn và hữu hạn, book ngay!
      </div>
      <ul class="promotion__group">
        <li class="promotion__item"><img src="../static/images/banner/1.jpg" alt=""
            class="promotion__image"></li>
        <li class="promotion__item"><img src="../static/images/banner/2.jpg" alt=""
            class="promotion__image"></li>
        <li class="promotion__item"><img src="../static/images/banner/3.jpg" alt=""
            class="promotion__image"></li>
      </ul>
    </div>
    <div class="footer">
      <div class="footer__group">
        <img src="../static/images/logo/logo_brand.jpg" alt=""
          class="footer__image">
      </div>
      <div class="footer__group" id="favorite">
      </div>
      <div class="footer__group">
        <h3 class="footer__caption">KHÔNG GIAN ƯA THÍCH</h3>
        <p class="footer__item">Căn hộ dịch vụ</p>
        <p class="footer__item">Biệt thự</p>
        <p class="footer__item">Nhà riêng</p>
        <p class="footer__item">Studio</p>
      </div>
      <div class="footer__group">
        <h3 class="footer__caption">Về chúng tôi</h3>
        <p class="footer__item">Blog</p>
        <p class="footer__item">Điều khoản hoạt động</p>
        <p class="footer__item">1800 6586</p>
        <p class="footer__item">+84 8898 66666</p>
        <p class="footer__item">info@homey.com</p>
        <p class="footer__item">Trang thông tin dành cho chủ nhà</p>
        <p class="footer__item">Cơ hội nghề nghiệp</p>
        <p class="footer__item">Tạp chí du lịch</p>
      </div>
      <div class="footer__group">
        <h3 class="footer__caption">Tải ứng dụng ngay</h3>
        <div class="footer__group-body">
          <div class="footer__qr">
            <img src="https://www.luxstay.com/qr-code.png" alt="" class="footer__qr-img">
          </div>
          <div class="footer__app">
            <div class="footer__app-item">
              <img src="https://www.luxstay.com/icons/apple-store.svg " alt="" class="footer__app-img">
            </div>
            <div class="footer__app-item">
              <img src="https://www.luxstay.com/icons/huawei.svg" alt="" class="footer__app-img">
            </div>
            <div class="footer__app-item">
              <img src="https://www.luxstay.com/icons/google-play.svg" alt="" class="footer__app-img">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div> <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <script src="../static/js/main/API.js"></script>
  <script src="../static/js/main/ui.js"></script>
  <script src="../static/js/main/app.js"></script>
</body>

</html>