<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/css/host/style.css">
  <link rel="stylesheet" href="../static/css/roomDetail/style.css">
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <style>
    .area {
      margin-left: 3rem;
      margin-right: 3rem;
    }
  </style>
</head>
<body>
  <div class="header d-flex justify-content-between align-items-center sticky-top">
    <div class="header__logo">
      <a href="./main.html">
      <img src="https://c4img.onlinefriday.vn/r600x600/12_2019/f/49/9/9074403037_1575625908.png" alt=""
        class="header__logo-img">
      </a>
    </div>
    <div class="header__btn--group ">        
      <div id="username">
        <a href="#" class="header__btn" id="reservation_list">Khách đặt phòng</a>
        <a href="#" class="header__btn" id="name"></a>
        <a href="#" onclick="logout()" class="header__btn">Đăng xuất</a>
      </div>
    </div>
  </div>
  <div class="area">
    <div>
      <span class="text__caption" style="font-size: 30px; float: left; margin-left: 4rem;">Quản lý thông tin đặt phòng</span>
    </div>
    <table class="table" >
        <thead>
          <tr>
            <th scope="col">STT</th>
            <th scope="col">Tên phòng</th>
            <th scope="col">Loại phòng</th>
            <th scope="col">Địa chỉ</th>
            <th scope="col">Người đặt phòng</th>
            <th scope="col">Số điện thoại</th>
            <th scope="col">Số khách</th>
            <th scope="col">Ngày nhận phòng</th>
            <th scope="col">Ngày trả phòng</th>
            <th scope="col">Tổng tiền</th>
            <th scope="col">Phương thức thanh toán</th>
          </tr>
        </thead>
        <tbody id="data">
          
        </tbody>
      </table>
  </div>
  <!-- Modal -->
    <div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Xác nhận</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Bạn có chắc chắn muốn xóa chỗ nghỉ này?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Hủy</button>
          <button type="button" id="delete" class="btn btn-danger btn-delete" data-toggle="modal" data-target="#notify" data-dismiss="modal">Xóa</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="notify" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"></h5>
          <button type="button" class="close" id="delete-success-close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Xóa thành công !
        </div>
        <div class="modal-footer">
          <button type="button" id="delete-success" class="btn btn-success" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <script src="../static/js/reservationHost/API.js"></script>
  <script src="../static/js/reservationHost/app.js"></script>
  
</body>

</html>