<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
 
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/roomDetail/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="header d-flex justify-content-between align-items-center sticky-top">
    <div class="header__logo">
      <a href="./main.html">
      <img src="https://c4img.onlinefriday.vn/r600x600/12_2019/f/49/9/9074403037_1575625908.png" alt=""
        class="header__logo-img">
      </a>
    </div>
    <div class="header__btn--group ">
      <span class="icon-button">
        <a href="#" class="header__btn header__btn--host" id="host">Host</a>
        <span class="icon-button__badge" id="countNotify" style="display: none;"></span>
      </span>
      <div id="new-user">
        <a href="#" class="header__btn header__btn--signup" style="display:none;" >Đăng kí</a>
        <a href="./login.html" class="header__btn header__btn--login">Đăng nhập</a>
      </div>
      <div id="username" style="display:none;">
        <a href="#" class="header__btn" id="name"></a>
        <a href="#" onclick="logout()" class="header__btn">Đăng xuất</a>
      </div>
    </div>
  </div>
  <div id="room-carousel" class="carousel slide" data-ride="carousel">
  </div>
  <div class="container room">
    <div class="row">
      <div class="col-sm-8">
        <h2 class="text-title my-3"></h2>
        <p class="room-location"></p>
        <p class="room-area"></p>
        <ul class="room-group d-flex flex-row"></ul>
        <p class="room-desc"></p>
        <h2 class="text-title">Tiện nghi chỗ ở</h2>
        <p class="text-desc">Giới thiệu về các tiện nghi và dịch vụ tại nơi lưu trú</p>
        <div class="utility d-flex flex-wrap">
        </div>
        <h2 class="text-title">Giá phòng</h2>
        <p class="text-desc pricePerday"></p>
        <h2 class="text-title">Chính sách</h2>
        <p class="text-desc policy"></p>
      </div>
      <div class="col-sm-4 place-order">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <p class="card-title">
              <h2 class="text-title d-inline totalPrice"></h2> /đêm
            </p>
            <div class="mb-3" style="width: 100%">
              <input type="text" name="daterange" id="date" value="Ngày"
                style="font-size: 15px; width: 100%; padding:8px; text-align:center">
            </div>
            <button id="topup-guess" class="btn btn-outline-dark btn-block mb-2" data-toggle="dropdown" type="button"
              aria-haspopup="true" aria-expanded="false">Số khách
            </button>
            <div class="dropdown-menu menu-nbGuess py-4 px-2" aria-labelledby="nbGuess" style="width:400px">
              <form id="nbGuess">
                <ul class="list-group">
                  <h3 style="font-weight: bold" class="ml-3">Số khách</h3>
                  <li class="d-flex justify-content-between my-2">
                    <label class="checkbox" for="count-adult">Người lớn</label>
                    <input type="number" id="count-adult" class="form-control col-2">
                  </li>
                  <li class="d-flex justify-content-between my-2">
                    <label class="checkbox" for="count-children">Trẻ em <small>(tuổi từ 2-12)</small></label>
                    <input type="number" name="" id="count-children" class="form-control col-2">
                  </li>
                </ul>
              </form>
              <div class="dropdown-divider"></div>
              <div class="d-flex align-center justify-content-between">
                <button class="btn btn-dark btn-lg ml-2 mt-2" style="font-size: 16px" type="button" id="delete-nbGuess">Xóa</button>
                <button class="btn btn-info btn-lg mr-2 mt-2" style="font-size: 16px" type="button" id="apply-nbGuess">Áp dụng</button>
              </div>
            </div>
            <button type="button" id="place-order" class="btn btn-dark btn-sm btn-lg btn-block" data-toggle="modal"
              data-target="#payment-modal">Đặt ngay</button>
            <div class="modal fade"  role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
            </div>
            <!-- Button trigger modal -->
            <!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#notify">
              Launch
            </button> -->
            
            <!-- Modal -->
            <div class="modal fade" id="notify" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"><strong> Thông báo</strong></h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                  <div class="modal-body">
                    <div class="container-fluid">
                      Đặt phòng thành công!!
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="window.location.reload()">OK</button>
                  </div>
                </div>
              </div>
            </div>
            
            <script>
              $('#exampleModal').on('show.bs.modal', event => {
                var button = $(event.relatedTarget);
                var modal = $(this);
                // Use above variables to manipulate the DOM
                
              });
            </script>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  
  <script src="../static/js/roomDetail/ui.js"></script>
  <script src="../static/js/roomDetail/app.js"></script>
</body>

</html>